/* CAMBIOS AERO */
#chatwrap{
    border-color:rgba(255,255,255,.02);border-radius:0px;
    }
    #chatline {border-radius:0px;}
    #chatwrap #messagebuffer {background-color:var(--B_WRAPS_FONDO);}
    #chatwrap #chatheader, #chatwrap #messagebuffer , input#chatline , #userlist{
    border-color:rgba(255,255,255,.05);
    }
    #userlist , #videowrap #chatheader {background-color:var(--B_WRAPS_FONDO)}
    input#chatline{background-color:var(--B_WRAPS_FONDO) !important; z-index:10;position:relative;}
    #videowrap *{
    border-color:rgba(255,255,255,.05);
    }
    #videowrap-header ,#chatheader{
    border-radius:0px;
    }
    #chatheader{overflow:hidden;position:relative;}
    .container-fluid {
    padding-left:0px;padding-right:0px;
    }
    #main.row {
    margin-left:14px;
    margin-right:14px;
    }/*
    #main.row::after {content:"";clear:both;position:relative;display:block;}*/
    #controlsrow , #playlistrow , #resizewrap , #motdrow {margin-left:0px;margin-right:0px;}
    #chatwrap {
    padding-left:0px;padding-right:0px;
    }
    #chatwrap #messagebuffer {padding-bottom:2px;
    }
    #videowrap {
    padding-right:0px;padding-left:0px;box-shadow:0px 0px 10px rgba(0, 0, 0, 0.41);
    }#rightpane , #rightcontrols {padding-left:0px;}
    
    #modflair {
    display:none;
    }
    #chatheader{
    user-select:none;-webkit-user-select:none;-moz-user-select:none;background-color:rgba(0,0,0,.95);border-right:0px;padding-bottom:1px;
    }
    #usercount {
    position:relative;padding:8px 14px 9px 0px;top:-1px;
    }
    #userlist {padding-bottom:2px;}
    #userlisttoggle {padding:14px;float:none !important;margin-left:0px;transition:margin-left .1s;position:relative;}
    #currenttitle {padding:12px 0px 12px 12px;display:inline-block;max-width:calc(100% - 40px);white-space: nowrap;overflow:hidden;position:relative;}
    
    
    /* ##### Variables Generales #####  */
    :root {
    
    --B_FONDO : #272b30 ;
    --B_WRAPS_FONDO : rgba(0,0,0,.8) ;
    
    }
    
    /* FIN DE LOS CAMBIOS */
    .channel-emote
    {
      max-width: 125px;
      max-height: 125px;
    }
    span:first-child.userlist_op  {
        color: #ff3333!important;
    }
    .userlist_guest {
        color: #FAFAD2!important;
    }
    .profile-image {
        max-width: 150px;
        max-height: 150px;
        }
    .timestamp {
        color: #ffffff;
    }
    
    
    /*#chatheader {border-color:rgba(0,0,0,.1);}*/
    #motdrow {background-color:#000000b5;} #motdwrap {background-color:transparent;border-color:transparent !important;margin-bottom:0px !important;padding:7px 0px 16px 0px;}
    #mainpage {padding-top:42px !important;}#chatwrap , #videowrap {margin-top:20px;}
    #motd p:last-of-type {margin-bottom:0px !important;}
    
    .refugio {display:inline-block;padding:6px 10px 4px 10px;border-radius:3px;text-shadow:0px 1px 0px rgba(0,0,0,.2);transition:all .2s;}
    .refugio:hover {background-color:rgba(255,0,0,.08);text-decoration:none !important;} 
    
    /* https://i.pinimg.com/originals/88/99/da/8899da2f65fb5a3731ca6c7c29901f11.gif  */
    /* https://i1.wp.com/heartoftherockiesradio.com/wp-content/uploads/2020/06/fireworks.gif */
    /* https://i.ytimg.com/vi/btBi8GUg2zk/maxresdefault.jpg */
    body {
        background: rgba(0,0,0,0.75) url(https://i.ibb.co/vPY0LDp/6004f6ce1af63.png) no-repeat fixed top center;
    background-blend-mode: overlay;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    color:#cabdbd
    }
    #videowrap-header {height:44px;background-color:rgba(19, 19, 19, 0.95);} /* Fondo del título del video */
    #chatheader {    background-color:rgba(19, 19, 19, 0.95);} /* Fondo de la caja de cantidad de usuarios */
    #messagebuffer {     background-color:rgba(0,0,0,0.8); } /* Fondo de la caja de Chat */
    background-blend-mode: luminosity;} /* Fondo de la caja de Chat */
    #userlist {      background-color:rgba(0,0,0,0.8); } /* Fondo de la caja de la lista de usuarios */
    
    /*#messagebuffer div span {background-color:rgba(0,0,0,.9);}*/
    #messagebuffer .nick-hover span , #messagebuffer .nick-highlight span {background-color:transparent !important;}
    /*#messagebuffer span:not(.shout) .username {text-shadow:0px 0px 6px #ffffff70;}*/
    
    #santa-hat {display:none; !important}
    #messagebuffer .username{position:relative;}
    /* CSS Emotes específicos */
    
    img.channel-emote[title=":netflix:"] {
    max-height:20px !important;
    }
    img.channel-emote[title=":seen:"] ,.emote-preview[title=":seen:"]{
    max-height:10px !important;filter:brightness(2);
    }
    img.channel-emote[title=":notseen:"] ,.emote-preview[title=":notseen:"] {
    max-height:10px !important;filter:brightness(2) grayscale(1);
    }
    
    img.channel-emote[title=":loading:"] {
    max-height:50px !important;
    }
    img.channel-emote[title=":paris3:"] {
    max-height:120px !important;
    }
    img.channel-emote[title=":pera:"]{
    max-height:60px !important;
    }
    img.channel-emote[title=":asaocytu:"]{
    max-width:350px !important;
    }
    img.channel-emote[title=":carretecytu:"]{
    max-width:350px !important;
    }
    #messagebuffer .username {
    text-shadow:0px 0px 8px black;
    }
    
    #proxt {z-index:32;position:relative;background-color:;
    padding:6px 8px;display:inline-block;text-shadow:0px 2px 0px #0000008f;
    letter-spacing:1px;line-height:16px;
    }#proxt font[color="yellow"] {font-size:26px;line-height:24px;display:block;text-shadow:0px 0px 10px #ffff0026;
    color:#f7e794;}
    #proxt a[color="yellow"] {font-size:26px;line-height:24px;display:block;text-shadow:0px 0px 10px #ffff0026;color:#f7e794;}
    
    /* MOTD PROXIMAS TRANSMISIONES*/
    #sumerio {position:relative;padding:6px;} 
     .futuraT {padding:8px 10px;display:block;border-top:1px solid #252525;} .futuraT h2{font-size:20px;line-height:24px;margin:0px;text-shadow:0px 0px 4px #505050;}.futuraT h4 {font-size:14px;line-height:16px;margin:0px;}details summary::-webkit-details-marker {display:none;}
    @media (min-width: 600px) {#proxt {width:calc(49.8vw - 42px);}}
    @media (max-width: 599px) {#proxt {width:calc(100vw - 62px);}.flexreference {flex-direction:column !important;}}
    .down-book {position:relative;}
    .down-book::after {position:absolute;content:"⇓";left:0px;top:3px;border-bottom:1px solid yellow;font-size:16px;line-height:14px;padding:0px 2px;}
    .flexreference details {backdrop-filter:blur(6px);background-color:#ffffff08;border:1px solid #ffffff08;}
    
    /* https://i.ibb.co/nzc2S0R/18491632-1337886299599515-4872012505362583601-o.jpg */
    .videolist{
    background-image: url(https://m.media-amazon.com/images/M/MV5BZjNhZjgxNWEtNjE5OC00NjZlLTljYjUtMTcwMTMxYThlNTUxXkEyXkFqcGdeQXVyNTQ1NzU4Njk@._V1_.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
     background-attachment: local;
    }
    .queue_entry{
    background-color: #272b30eb
    }
    .pinkText {
        color: #E0727F;
    }
    .redText {
        font-size: 1.75rem;
        color: 
        #AF0A0F;
        font-weight: bold;
    }
    .underline {
      text-decoration: underline;
    }
    .navbar-nav li a  {padding-top:10px;padding-bottom:10px;}
    .navbar-nav .dropdown-menu li a {padding:4px 14px;}
    .navbar-brand {padding:10px;height:inherit;}
    #logoutform {margin-top:10px;margin-bottom:10px;}
    nav.navbar[role="navigation"] {min-height:40px;}
    
    .marquee-parent {
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 30px;
    }
    .marquee-child {
      display: block;
      width: 800px;
      /* width of your text div */
      height: 30px;
      /* height of your text div */
      position: absolute;
      animation: marquee 15s linear infinite; /* change 5s value to your desired speed */
    }
    .marquee-child:hover {
      animation-play-state: paused;
      cursor: pointer;
    }
    @keyframes marquee {
      0% {
        right: 100%;
      }
      100% {
        right: -800px /* same as your text width */
      }
    }
    
    /*NAVBAR*/
    .navbar-brand {
    padding: 10px;
        height: inherit;
        background-image: url();
        background-repeat: no-repeat;
        width: 80px;
        background-position: top center;
        background-size: auto 40px;
        height: 100%;
        margin-right: 10px;
        margin-left: 15px;
        font-size: 0;
        opacity: 0.8;
    }
    
    nav.navbar[role="navigation"]{background:#171718 !important;border-color:rgba(255,255,255,.05);box-shadow:0px 0px 10px #00000070;}
    nav.navbar[role="navigation"] .navbar-nav li a {border:none;} 
    nav.navbar[role="navigation"] .navbar-nav >li> a:hover , nav.navbar[role="navigation"] .navbar-nav li a:focus {background:none !important;}
    nav.navbar[role="navigation"] .navbar-nav >li>a::before {content:"";position:absolute;top:0px;left:24px;right:24px;height:3px;
    background-color:transparent;border-radius:0px 0px 3px 3px;z-index:-1;transition:all .2s;}
    nav.navbar[role="navigation"] .navbar-nav >li> a:hover::before
    {background-color:#f7e794;left:12px;right:12px;}
    nav.navbar[role="navigation"] .navbar-nav >li> a:hover {color:#f7e794;}
    
    /* CUENTEO */
    #conteoCont {position:relative;background-color:#ffffff0d;}
    #conteoCont #capruebo , #conteoCont #crechazo{
    width:100%;padding:10px;
    }
    #capruebo {position:relative;display:inline-block; background-image:url("https://media1.giphy.com/media/1BfRG8cK5SPOer97aK/giphy.gif");
    background-size:100% auto;background-position:bottom left;}
    
    #crechazo {display:inline-block;text-align:right;position:absolute;left:0px;top:0px;}
    .backc {position:absolute;top:0px;bottom:0px;z-index:0;}
    #conteoCont h5{z-index:10;position:relative;font-weight:bolder;font-size:18px;padding:0px 10px;color:white;}
    #ccleft {left:0px;background-color:#3737f7;transition:all .2s;mix-blend-mode:screen;}
    #ccright{right:0px;background-color:#ff5050;transition:all .2s;}
    #cmark {position:absolute;top:-2px;left:50%;width:1px;z-index:1;border-right:2px dotted white;bottom:0px;}
    
    /* DETALLES MENORES */
    #drinkbar {margin:0px;}#drinkbarwrap{margin:0px;display:none;}
    
    /* CELUS y huea */
    @media only screen and (max-width: 600px) {
    #calendarx {display:none !important;}
    #conteoCont h5 {font-size:0px !important;}
    #conteoCont #crechazo h5::before {content:"T";font-size:14px !important;display:inline-block;}
    #conteoCont #capruebo h5::before {content:"B ✓";font-size:14px !important;display:inline-block;}
    }
    /* arbolito uwu 
    @media only screen and (min-width:601px){ 
    #videowrap::before {
      content:"";
      position:absolute;
      top: calc(-8vw + 20px);left: -3.5vw;
      background-image: url("https://media3.giphy.com/media/9rlYs4H8cbWuiw1IyP/giphy.gif");
      height:8vw;width:7vw; 
      background-size:100% 100%;
    z-index:90;
    pointer-events:none;
    }*/
    }
    /*scrollbar*/
    ::-webkit-scrollbar{
        width: 6px;
    }
    ::-webkit-scrollbar:horizontal{
            height:10px;
    }
    ::-webkit-scrollbar-track{
        border:6px solid #0e0e0e;
        box-shadow: inset 0 0 2.5px 2px #0e0e0e;
    }
    
    ::-webkit-scrollbar-thumb{
        background:#2d2d2d;
        border-radius:3px;
    }
    
    .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text{
    color:#ced6ef;
    }
    
    /* 
    
    #currenttitle::after , #chatheader::after{
    content:"";
    position:absolute;
    top:-40px;bottom:0px;right:0px;left:0px;
    background:url("http://clipart-library.com/newimages/christmas-lights-30.png");
    display:block;
    background-size:40vw;
    pointer-events:none;
    -webkit-pointer-events:none;
    -moz-pointer-events:none;
    background-position:center;
    animation-name:lghts;animation-duration:1s;
    animation-iteration-count :infinite; 
    }*/
    /*@keyframes lghts {0% {filter:brightness(1);}50%{filter:brightness(2);}100% {filter:brightness(1);}}
    #clearplaylist {display:none;}*/
    
    /* botones */
    #emotelistbtn , #newpollbtn , #emotelistbtn + .btn {
    background: none;background-color: #060606e0;border:none;font-size:0px;border-bottom:2px solid #635364;color:#c1c1c1;border-radius:3px;
      box-shadow:2px 0px 10px 2px rgba(0,0, 0,.5);}#emotelistbtn {padding:6px 10px 6px 6px;}
    #emotelistbtn::before {content: "🧙‍♂️ Emotes";font-size:14px;}
    #newpollbtn::before {content: "💬 Crear Encuesta";font-size:14px;}
    #emotelistbtn + .btn::before {content: "📅 Calendario";font-size:14px;}
    #emotelistbtn:hover , #newpollbtn:hover , #emotelistbtn + .btn:hover{background-color:#22202be0;border-bottom:2px solid #fff;color:white;}
    #emotelistbtn:active , #newpollbtn:active , #emotelistbtn + .btn:active{transform: translateY(2px);border-bottom: none;}
    #controlsrow #leftcontrols {text-align:center;height:35px;}
    
    
    /* JS PROMPT */
    html,body {min-height:100vh;}
    .profile-box form {
     background: rgb(98,104,207);
    background: linear-gradient(322deg, rgba(98,104,207,1) 0%, rgba(68,45,45,1) 100%); 
    position:fixed;top:40px;left:0px;bottom:0px;right:0px;z-index:900;display:flex;justify-content:center;flex-direction:column;
    align-items:center;
    }
    .profile-box form * {text-align:center;}
    .profile-box form button {}
    .profile-box form br+button {font-size:0px;}
    .profile-box form br+button::before{content:"Mostrar JS del canal";position:relative;display:inline-block;font-size:16px;}
    .profile-box form div:first-of-type button{font-size:0px;}
    .profile-box form label {font-size:0px;}
    .profile-box form div:first-of-type button:first-child::before
    {content:"Entrar al canal";position:relative;display:inline-block;font-size:16px;}
    .profile-box form div:first-of-type button:last-child::before
    {content:"No sé JS así que no confío";position:relative;display:inline-block;font-size:16px;}
    .profile-box form span:first-of-type {font-size:0px;padding-bottom:30px;max-width:700px;}
    .profile-box form span:first-of-type::before 
    {content:"Bienvenido a El Enclave; este canal usa JS propio, puedes leerlo presionando el botón de abajo.";position:relative;display:inline-block;font-size:16px;}
    .profile-box form label::after
    {content:"Recordar decisión";position:relative;display:inline-block;font-size:16px;}
    
    /* minor details */
    .queue_sortable li {cursor:grab;}
    input#chatline {border-bottom:2px solid #635364;border-radius:0px 0px 6px 6px;}input#chatline:hover{border-bottom:2px solid white;}
    input#chatline:hover {background-color:rgba(0,0,0,.4) ;}
    #chatwrap form:hover {background-color:rgba(255,255,255,.1)}
    /*.qe_title {background-color:#000000b5;} */
    #headert a {text-decoration:underline;}
    
    /* Calendar */
    #calendarx {position:absolute;top:82px;left:0px;width:200%;overflow-x:auto;overflow-y:hidden;white-space:nowrap;min-height:100px;display:flex;
    flex-wrap:nowrap;}
    #calendarx .cdate {min-width:250px;display:inline-block;min-height:100px;margin-right:4px;}
    #calendarx .cdate .ctime {display:block;margin-bottom:4px;border-radius:2px;padding:2px 6px;white-space:normal;}
    .peli {border-left:3px solid #ffd77e;background-color:#38332a;} .serie {border-left:3px solid #dc7b8e;background-color:#2b2022;}
    
    /* Channel Minor Vanity */
    .modal-header {margin:0px;padding:0px 0px 0px 0px;}.modal-header .nav-tabs{border:none;}.modal-header h4{padding:4px 0px 0px 14px;}
    .modal-header .close { padding:6px 16px 6px 6px; } .tab-pane.active h4 {margin-top:0px;} .tab-pane.active{padding-top:16px;}
    .modal-header li a,.modal-header li.active a  {border:none !important;} .modal-body {padding-top:0px !important;}
    .modal-header ul:not(.dropdown-menu) li:not(.active):hover a {background-color:#3e444c90;}
    .modal-header ul.dropdown-menu li:not(.active):hover a {background-color:#272b3090;}
    .modal-body {background-color:#3e444c;margin-top:0px;}
    .nav.navbar-nav .dropdown-menu {background-color:#222;}
    .nav.navbar-nav .dropdown-menu::before {content:"";position:absolute;top:-10px;left:35px;width: 0; height: 0; border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 10px solid #222;}
    .nav.navbar-nav .dropdown-menu li:hover{border-left:3px solid #f7e794;}
    .nav.navbar-nav .dropdown-menu li:hover a {background-color:#33312e !important;}
